body {  
   color:#0000ff ;
    background-color: #3bb300 ;
font-family: 'Pacifico', cursive; }
  h2  { color:	 #ffffff ; }
  h3 { 
    color :  #000000;}
img { height:
    450px; }
h1 {
  text-shadow: 2px 2px #000;
}
h3 { 
    text-shadow: 2px 2px #fff;
}
h2 { text-shadow: 2px 2px #000;
}



                     